body {
    background-color: #9a9a9a;
}

header {
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Times Arial;
    color: #000000;
}

h1 {
    font-size: 35pt;
}

h3 {
    font-size: 25pt;
}

p {
    font-size: 13pt;
}

main {
    background-color: #FFFFFF;
    border-radius: 10px;
}

aside {
    background-color: #FFFFFF;
    border-radius: 10px;
}

footer {
    background-color: #72d4bb;
    border-radius: 10px;
}

.active {
    background-color: #72bcd4;
}

table {
    font-family: Times Arial;
    border-collapse: collapse
}

table td, table th {
    border: 2px, solid, #F0F0F0;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #9a9a9a;
}

table th {
    background-color: #72d4bb;
    color: #F0F0F0;
}

header {
    padding: 10px;
}

#logo {
    height: 50px;
    width: 150px;
    float: left;
    margin-right: 10px;
}

h1 {
    display: inline;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    border: 2pt solid #9a9a9a;
    background-color: #72d4bb;
    list-style-type: none;
    float: left;
    width: 16%;
    padding: 11px;
}

nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

nav li:hover {
    background-color: #000000;
}

#left-col {
    float: left;
    width: 60%;
    background-color: #FFFFFF;
    height: 500px;
    border-radius: 10px;
}

#right-col {
    float: right;
    width: 40%;
    background-color: #FFFFFF;
    height: 500px;
    border-radius: 10px;
}

header {
    margin: 3px;
}

aside {
    margin: 3px;
}

main {
    margin: 3px;
}

footer {
    margin: 3px;
}

#home-carousel {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-control-next img {
    width: 30px;
    height: 30px;
}

.carousel-control-prev img {
    width: 30px;
    height: 30px;
}